
.bg-custom {
    background-color: #0277bd ;
}

.navbar .nav-item .nav-link {
    font-size : 20px ;
    color : white ;
}

.nav-custom .nav-item:hover .nav-link{
    background : white;
    color : black ;
    border-radius: 10px;
}

.div-color{
    background: rgb(70,128,147);
    background: linear-gradient(90deg, rgba(70,128,147,1) 0%, rgba(40,68,94,1) 50%, rgba(70,128,147,1) 100%);
    height: 620px;
}